/Hmwk/ModeProb/build/
/Hmwk/ModeProb/dist/
/Hmwk/Assignment 2/GaddisCh12Prob1/build/
/Hmwk/Assignment 2/GaddisCh12Prob1/dist/
/Hmwk/Assignment 2/gaddisch12prob2/build/
/Hmwk/Assignment 2/GaddisCh12Prob2/build/
/Hmwk/Assignment 2/gaddisch12prob2/dist/
/Hmwk/Assignment 2/GaddisCh12Prob2/dist/
/Hmwk/Assignment 2/GaddisCh12Prob3/dist/
/Hmwk/Assignment 2/GaddisCh12Prob3/build/